.home {
    max-width: 850px;
    text-align: center;
    margin: auto;
    min-height: 35em;
}

.greenTitle {
    background-color: #567946;
    font-size: 35px;
    color: white;
    padding: 20px;
    border-radius: 40px;
}

h1 {
    color: #567946;
}