.navbar {
  width: 100%;
}
.navbar .logo img {
  flex: 50%;
  padding-bottom: 10px;
}
.navbar .menu {
  background: linear-gradient(#4e492f, #4E2F4D);
  background-color: linear-gradient;
  max-width: 960px;
  border-radius: max(0px, min(15px, (100vw - 4px - 100%) * 9999));
  margin-top: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
.navbar .menu a {
  color: white;
  text-decoration: none;
  align-items: center;
}
.navbar .menu .menuItem {
  list-style-type: none;
  background-color: #4E2F4B;
  font-size: 17px;
  padding: 15px;
  border-radius: 25%;
  position: relative;
  transition: 0.6s;
}
.navbar .menu .menuItem:hover {
  filter: brightness(1.2);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
  font-size: 18px;
}
.navbar .menu .menuItem a:hover {
  color: #35845D;
}
.navbar .menu .menuItem li {
  background-color: #4E2F4B;
  font-size: 15px;
  padding: 12px;
  border-radius: 25%;
  position: relative;
  transition: 0.6s;
}
.navbar .menu .menuItem li:hover {
  font-size: 16px;
  transition-duration: 0.6s;
  filter: brightness(0.8);
  cursor: pointer;
  color: #35845D;
}
.navbar .menu .menuContent {
  background-color: #4E2F4B;
  position: absolute;
  padding: 12px;
  border-radius: 4px 4px 15px 15px;
  margin-top: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/* display none for Mobile only*/
.menuIcon {
  display: none;
}

@media screen and (max-width: 478px) {
  /*bigscreen hide menu items*/
  .navbar {
    padding-bottom: 30px;
    /*small screen config*/
  }
  .navbar .menuItem {
    display: none;
  }
  .navbar .menuContent {
    display: none;
  }
  .navbar .menuIcon {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #6C2B3B;
    font-size: 40px;
    position: absolute;
  }
  .navbar .menuIcon .subMenu {
    list-style-type: none;
    flex-direction: column;
    position: relative;
    background-color: #6C2B3B;
    font-size: 16px;
  }
  .navbar .menuIcon .subMenu li {
    padding: 15px;
    margin: 10px;
  }
}
.home {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.home h1 {
  color: #35845D;
}
.home .greenTitle {
  background-color: #35845D;
  font-size: 35px;
  color: white;
  padding: 20px;
  border-radius: 40px;
  max-width: 600px;
  margin: auto;
}
.home .greenTitle a {
  text-decoration: none;
  color: #4E2F4B;
}
.home .greenTitle a:hover {
  filter: brightness(1.2);
}
.home h2 {
  color: #35845D;
}
.home .manifest {
  box-sizing: border-box;
  text-align: left;
  max-width: 400px;
  margin: auto;
}
.home .manifest ul {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 100px;
}
.home .manifest ul li {
  padding: 5px;
}
.home a {
  font-weight: bold;
  text-decoration: none;
  color: #35845D;
}
.home a:hover {
  filter: brightness(1.2);
}

.locations {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.locations h1 {
  color: #35845D;
}

.found {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.found h1 {
  color: #35845D;
}

.donate {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.donate h1 {
  color: #35845D;
}
.donate .twintImage {
  padding: 50px;
}

.foodNetwork {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.foodNetwork h1 {
  color: #35845D;
}

.contact {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.contact h1 {
  color: #35845D;
}

.about {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.about h1 {
  color: #35845D;
}

.media {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.media h1 {
  color: #35845D;
}

.picturesArchiv {
  text-align: center;
  margin: auto;
  min-height: 50em;
  max-width: 850px;
}
.picturesArchiv h1 {
  color: #35845D;
}

.footer {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #4E2F4B;
  color: white;
  position: relative;
  flex-direction: column;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */